@using AnarkRE
@using AnarkRE.Bitcoin

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" type="text/css">
    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/assets/css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="~/assets/libraries/chosen/chosen.css" type="text/css">
    @*<link rel="stylesheet" href="~/assets/libraries/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css">*@
    <link rel="stylesheet" href="~/assets/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/realia-gray-green-light.css" type="text/css" id="color-variant-default">
    <link rel="stylesheet" href="#" type="text/css" id="color-variant">
    @RenderSection("Head", false)
    <title>An Ark | @(ViewBag.Title ?? "Trustfree Bitcoin Marketplace")</title> 
</head>
<body class="header-dark">
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            <!-- BREADCRUMB -->
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul class="breadcrumb pull-left">
                                <li><a href="/">Home</a></li>
                            </ul><!-- /.breadcrumb -->

                            @Html.Partial("_LoginPartial")
                        </div><!-- /.span12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.breadcrumb-wrapper -->

            <!-- HEADER -->
            <div id="header-wrapper">
                <div id="header">
                    <div id="header-inner">
                        <div class="container">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="row">
                                        <div class="logo-wrapper span4">
                                            <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                            <div class="logo">
                                                <a href="/" title="Home">
                                                    <img src="~/assets/img/logo.png" alt="Home">
                                                </a>
                                            </div><!-- /.logo -->

                                            <div class="site-name">
                                                <a href="/" title="Home" class="brand">An Ark</a>
                                            </div><!-- /.site-name -->

                                            <div class="site-slogan">
                                                <span>Trustfree Bitcoin<br /> Marketplace</span>
                                            </div><!-- /.site-slogan -->
                                        </div><!-- /.logo-wrapper -->

                                        <div class="info">
                                            <div class="site-email" style="display:none">
                                                <a href="mailto:">support@anark.it</a>
                                            </div><!-- /.site-email -->

                                            @*<div class="site-phone">*@
                                            <div class="site-name">
                                                <span style="color:#999">Current Price:</span><span style="padding-left:15px; ">@BitcoinPriceData.GetBtcExchangeRate("USD").FormatMoney() / BTC </span>
                                            </div><!-- /.site-phone -->
                                        </div><!-- /.info -->

                                        <a class="btn btn-primary btn-large list-your-property arrow-right" href="@Url.Action("create", "listings")">List a new item</a>
                                    </div><!-- /.row -->
                                </div><!-- /.navbar-inner -->
                            </div><!-- /.navbar -->
                        </div><!-- /.container -->
                    </div><!-- /#header-inner -->
                </div><!-- /#header -->
            </div><!-- /#header-wrapper -->

            <!-- NAVIGATION -->
            <div id="navigation">
                <div class="container">
                    <div class="navigation-wrapper">
                        <div class="navigation clearfix-normal">

                            <ul class="nav">
                                <li class="menuparent">
                                    <span class="menuparent nolink">Listings</span>
                                    <ul>
                                        <li><a href="@Url.Action("browse", "listings")">Browse All</a></li>
                                        <li class="menuparent"><span class="menuparent nolink"> Browse By Category</span>
                                            <ul>
                                                @foreach (string c in Globals.Categories)
                                                {
                                                    <li><a href="@Url.Action("category", "listings", new { q = c })">@c</a></li>
                                                }
                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("create", "listings")">Create Listing</a></li>
                                    </ul>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">My Account</span>
                                    <ul>
                                        <li><a href="@Url.Action("index", "escrow")">My Transactions</a></li>
                                        <li><a href="@Url.Action("index", "listings")">My Listings</a></li>
                                        
                                      
                                    </ul>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Information</span>
                                    <ul>
                                        <li><a href="@Url.Action("demo", "info")">Buyer Demo</a></li>
                                        <li><a href="@Url.Action("faq", "info")">FAQ</a></li>
                                        <li><a href="https://en.bitcoin.it/wiki/User:Casascius/Escrow_scheme_draft">Escrow Scheme</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Contact Us</span>
                                    <ul>
                                        <li><a href="mailto:info@anark.it">General</a></li>
                                        <li><a href="mailto:support@anark.it">Support</a></li>
                                        <li><a href="mailto:abuse@anark.it">Abuse</a></li>
                                    </ul>
                                </li>
                                @*<li><a href="@Url.Action("contact", "info")">Contact Us</a></li>*@
                            </ul><!-- /.nav -->

@*                            <div class="language-switcher">
                                <div class="current en"><a href="/" lang="en">English</a></div><!-- /.current -->
                                <div class="options">
                                    <ul>
                                        <li class="fr"><a href="#">Français</a></li>
                                        <li class="de"><a href="#">Deutsch</a></li>
                                    </ul>
                                </div><!-- /.options -->
                            </div><!-- /.language-switcher -->*@

                            <form method="get" class="site-search" action="@Url.Action("search","listings")">
                                <div class="input-append">
                                    <input title="Enter the terms you wish to search for." class="search-query span2 form-text" placeholder="Search listings" type="text" style="width:300px" name="q">
                                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                                </div><!-- /.input-append -->
                            </form><!-- /.site-search -->

                        </div><!-- /.navigation -->
                    </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->

            <!-- CONTENT -->
            <div id="content">
                

        <div class="container">
            <div id="main">
                @RenderBody()
            </div>
        </div>

                @RenderSection("BottomWrapper", false)
    

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

<div id="footer-wrapper">
    <div id="footer-top">
        <div id="footer-top-inner" class="container">
            <div class="row">


@*                <div class="widget properties span3">
                    <div class="title">
                        <h2>Most Recent</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <div class="property">
                            <div class="image">
                                <a href="detail.html"></a>
                                <img src="~/assets/img/tmp/property-small-1.png" alt="">
                            </div><!-- /.image -->
                            <div class="wrapper">
                                <div class="title">
                                    <h3>
                                        <a href="detail.html">27523 Pacific Coast</a>
                                    </h3>
                                </div><!-- /.title -->
                                <div class="location">Palo Alto CA</div><!-- /.location -->
                                <div class="price">€2 300 000</div><!-- /.price -->
                            </div><!-- /.wrapper -->
                        </div><!-- /.property -->

                        <div class="property">
                            <div class="image">
                                <a href="detail.html"></a>
                                <img src="~/assets/img/tmp/property-small-2.png" alt="">
                            </div><!-- /.image -->
                            <div class="wrapper">
                                <div class="title">
                                    <h3>
                                        <a href="detail.html">27523 Pacific Coast</a>
                                    </h3>
                                </div><!-- /.title -->
                                <div class="location">Palo Alto CA</div><!-- /.location -->
                                <div class="price">€2 300 000</div><!-- /.price -->
                            </div><!-- /.wrapper -->
                        </div><!-- /.property -->

                        <div class="property">
                            <div class="image">
                                <a href="detail.html"></a>
                                <img src="~/assets/img/tmp/property-small-3.png" alt="">
                            </div><!-- /.image -->
                            <div class="wrapper">
                                <div class="title">
                                    <h3>
                                        <a href="detail.html">27523 Pacific Coast</a>
                                    </h3>
                                </div><!-- /.title -->
                                <div class="location">Palo Alto CA</div><!-- /.location -->
                                <div class="price">€2 300 000</div><!-- /.price -->
                            </div><!-- /.wrapper -->
                        </div><!-- /.property -->
                    </div><!-- /.content -->
                </div><!-- /.properties-small -->

                <div class="widget span3">
                    <div class="title">
                        <h2>Contact us</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <table class="contact">
                            <tbody>
                            <tr>
                                <th class="address">Address:</th>
                                <td>1900 Pico Blvd<br>Santa Monica, CA 90405<br>United States<br></td>
                            </tr>
                            <tr>
                                <th class="phone">Phone:</th>
                                <td>+48 123 456 789</td>
                            </tr>
                            <tr>
                                <th class="email">E-mail:</th>
                                <td><a href="mailto:info@yourcompany.com">info@example.com</a></td>
                            </tr>
                            <tr>
                                <th class="skype">Skype:</th>
                                <td>your.company</td>
                            </tr>
                            <tr>
                                <th class="gps">GPS:</th>
                                <td>34.016811<br>-118.469009</td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Useful links</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="404.html">404 page</a></li>
                            <li class="leaf"><a href="about-us.html">About us</a></li>
                            <li class="leaf"><a href="contact-us.html">Contact us</a></li>
                            <li class="leaf"><a href="faq.html">FAQ</a></li>
                            <li class="leaf"><a href="grid-system.html">Grid system</a></li>
                            <li class="leaf"><a href="our-agents.html">Our agents</a></li>
                            <li class="last leaf"><a href="typography.html">Typography</a></li>
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Say hello!</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <form method="post">
                            <div class="control-group">
                                <label class="control-label" for="inputName">
                                    Name
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" id="inputName">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputEmail">
                                    Email
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" id="inputEmail">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputMessage">
                                    Message
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                    <textarea id="inputMessage"></textarea>
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="form-actions">
                                <input type="submit" class="btn btn-primary arrow-right" value="Send">
                            </div><!-- /.form-actions -->
                        </form>
                    </div><!-- /.content -->
                </div><!-- /.widget -->*@



            </div><!-- /.row -->
        </div><!-- /#footer-top-inner -->
    </div><!-- /#footer-top -->

    <div id="footer" class="footer container">
        <div id="footer-inner">
            <div class="row">
                <div class="span6 copyright">
                    <p>© Copyright @DateTime.Today.Year by <a href="mailto:info@anark.it">An Ark International, LLC</a>. All rights reserved.</p>
                </div><!-- /.copyright -->

                <div class="span6 share">
                    <div class="content">
                        
@*                            <li class="leaf"><a href="http://flickr.net" class="flickr">Flickr</a></li>
                            <li class="leaf"><a href="http://plus.google.com" class="google">Google+</a></li>
                            <li class="leaf"><a href="http://www.linkedin.com" class="linkedin">LinkedIn</a></li>
                            <li class="leaf"><a href="http://www.facebook.com" class="facebook">Facebook</a></li>
                            <li class="last leaf"><a href="http://www.vimeo.com" class="vimeo">Vimeo</a></li>*@
                      

                        <ul class="menu nav pull-right">
                            @*<li class="first leaf"><a href="https://twitter.com/anark_it" class="twitter">Twitter</a></li>*@
@*                            <li class="leaf"><a href="http://flickr.net" class="flickr">Flickr</a></li>
                            <li class="leaf"><a href="http://plus.google.com" class="google">Google+</a></li>
                            <li class="leaf"><a href="http://www.linkedin.com" class="linkedin">LinkedIn</a></li>
                            <li class="leaf"><a href="http://www.facebook.com" class="facebook">Facebook</a></li>
                            <li class="last leaf"><a href="http://www.vimeo.com" class="vimeo">Vimeo</a></li>*@
                        </ul>

                        <div class="pull-right">
                        <small>
                            <a href="@Url.Action("terms", "info")">Terms of Service</a>
                        |
                            <a href="@Url.Action("privacy","info")">Privacy Policy</a></small>
                            </div>
                    </div><!-- /.content -->
                </div><!-- /.span6 -->
            </div><!-- /.row -->
        </div><!-- /#footer-inner -->
    </div><!-- /#footer -->
</div><!-- /#footer-wrapper -->
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->
    
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>*@
    @Scripts.Render("~/bundles/jquery")
@*<script type="text/javascript" src="~/assets/js/jquery.js"></script>*@
<script type="text/javascript" src="~/assets/js/jquery.ezmark.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.currency.js"></script>
<script type="text/javascript" src="~/assets/js/jquery.cookie.js"></script>
@*<script type="text/javascript" src="~/assets/js/retina.js"></script>*@
<script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
@*<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@
<script type="text/javascript" src="~/assets/js/carousel.js"></script>
@*<script type="text/javascript" src="~/assets/js/gmap3.min.js"></script>
<script type="text/javascript" src="~/assets/js/gmap3.infobox.min.js"></script>*@
<script type="text/javascript" src="~/assets/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="~/assets/libraries/chosen/chosen.jquery.min.js"></script>
@*<script type="text/javascript" src="~/assets/libraries/iosslider/_src/jquery.iosslider.min.js"></script>*@
@*<script type="text/javascript" src="~/assets/libraries/bootstrap-fileupload/bootstrap-fileupload.js"></script>*@
<script type="text/javascript" src="~/assets/js/realia.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>

